<div class="backdrop visually-hidden" data-auth-modal>
    <div class ="auth__modal">
        <!-- <div class="auth__modal-wrapper" content-auth-modal>
        <p class="auth__paragraph">You can use Google Account for authorization:</p>
        <div class="auth__center">
            <button class="auth__btn auth__google-btn" sign-in-with-google>Sign in with Google</button>
        </div>
        <p class="auth__paragraph">Or login to the app using your e-mail and password:</p>
        <form class="auth__form">
            <label class="auth__label">Your email <input type="email" class="auth__input" id="auth__email"></label>
            <label class="auth__label">Your password <input type="password" class="auth__input" id="auth__password"></label>
            <div>
                <button class="auth__btn" type="submit">Sign In</button>
                <button class="auth__btn" type="submit">Sign Up</button>
            </div>
        </form>
        </div> -->
    </div>
</div>