<div class="backdrop__team backdrop-team__is-hidden">
    <div data-modal  class="modal-team modal-team__is-hidden">
        <button data-modal-close type="button" class="modal-team__close-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="modal__icon"
                viewBox="0 0 16 16">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
        </button>

        <ul class="team__container">

            <li class="team__item">
                <a class="team__link" href="https://github.com/YuriiShatskyi">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/YuriiShatskyi.jpg" alt="Yurii Shatskyi">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Yurii Shatskyi</h2>
                        <p class="team__role">Team Lead</p>
                    </div>
                 </a>
            </li>


            <li class="team__item">
                <a class="team__link" href="https://github.com/LizaPoperechna">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/LizaPoperechna.jpg" alt="Liza Poperechna" width="360px">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Liza Poperechna</h2>
                        <p class="team__role">Scrum</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link" href="https://github.com/DubeiA">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/AnatoliiDubei.jpg" alt="Anatolii Dubei">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Anatolii Dubei</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link" href="https://github.com/yulia-mazurenko">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/YuliaMazurenko.jpg" alt="Yulia Mazurenko">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Yulia Mazurenko</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
            <a class="team__link" href="https://github.com/MartaSyvyk">
                <div class="team__img-wrapper">
                    <img class="team__img" width="245" height="270" src="./images/modal-team/MartaSyvyk.jpg" alt="Marta Syvyk">
                </div>
                <div class="team__info">
                    <h2 class="team__student-name">Marta Syvyk</h2>
                    <p class="team__role">Developer</p>
                </div>
            </a>
            </li>

            <li class="team__item">
                <a class="team__link"  href="https://github.com/KorotkayaNastuha">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/NastyaKorotchuk.jpg" alt="Nastya Korotchuk">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Nastya Korotchuk</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link"  href="https://github.com/RostyslavSuprun">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/RostyslavSuprun.jpeg" alt="Rostyslav Suprun">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Rostyslav Suprun</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link"  href="https://github.com/AleXKeepeR21">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/OleksandrHudik.jpg" alt="Oleksandr Hudik">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Oleksandr Hudik</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link"  href="https://github.com/YuriPanchuck">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/YuriiPanchuck.jpg" alt="Yurii Panchuck">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Yurii Panchuck</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link" href="https://github.com/ruchey34">
                    <div class="team__img-wrapper">
                        <img class="team__img" width="245" height="270" src="./images/modal-team/OlehMerkulov.jpg" alt="Oleh Merkulov">
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Oleh Merkulov</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>