<header class="library container">
  <nav class="header__nav">
    <a class="header__logo header--link" href="./index.html">
      <svg class="header__logo-icon">
        <use href="./images/icons.svg#icon-film" width="24" height="24"></use>
      </svg>
      <span class="header__logo-text">Filmoteka</span>
    </a>
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header--link" href="./index.html">Home</a>
      </li>
      <li class="header__nav-item">
        <a class="header--link header__link--active" href="">My Library</a>
      </li>
    </ul>
    <button class="header__auth-btn" data-auth-modal-open>My Account</button>
  </nav>
  <div class="theme-switch container">
    <svg class="theme-switch__icon" aria-label="Sun">
      <use href="/src/images/symbol-defs.svg#icon-sun"></use>
    </svg>

    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Перемикач"
      />
      <label
        aria-hidden="true"
        class="theme-switch__track"
        for="theme-switch-toggle"
      >
      </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>

    <svg class="theme-switch__icon" aria-label="Moon">
      <use href="/src/images/symbol-defs.svg#icon-moon"></use>
    </svg>
  </div>
  <div class="btn-container">
    <button class="wached-btn active">watched</button>
    <button class="queue-btn">queue</button>
  </div>
</header>
<div class="gallery filmsModal"></div>
